
.sidebar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  width: 220px;
  height: 100%;

  background-color: #222;
  color: #ddd;
}

.sidebar .logo {
  width: auto;
  height: 100px;
  margin-bottom: 30px;

  background-color: tomato;
  background-image: url(../icons/astro-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160px auto;

  cursor: pointer;
}

.sidebar .main-menu {

}

.sidebar .menu-item {
  position: relative;

  padding-left: 60px;
  line-height: 3;
  letter-spacing: 1px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 22px center;
  background-size: 22px 22px;

  list-style: none;
  cursor: pointer;

  transition: background-color 300ms;
}

.sidebar .menu-item:hover,
.sidebar .menu-item.active {
  background-color: #191919;
}

.sidebar .menu-item.active::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 100%;

  background-color: tomato;
}

.sidebar a,
.sidebar a:visited,
.sidebar a:hover {
  text-decoration: none;
  color: white;
}

.sidebar .dashboard.menu-item {
  background-image: url(../icons/dashboard.svg);
}

.sidebar .students.menu-item {
  background-image: url(../icons/students.svg);
}

.sidebar .packages.menu-item {
  background-image: url(../icons/packages.svg);
}

.sidebar .reports.menu-item {
  background-image: url(../icons/reports.svg);
}
