.students.main-container .section-title {
  max-width: 550px;
}

.table-button {
  display: inline-block;
  float: right;
  position: relative;
  top: -10px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.table-button.filter {
  margin-right: 10px;
  background-image: url(../icons/filter.svg);
  background-color: #4760ff;
}

.table-button.add {
  background-image: url(../icons/add.svg);
  background-color: tomato;
}

.table.students {
  width: 100%;
  max-width: 550px;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
}

.row {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  
  transition: background-color 400ms;
  cursor: pointer;
}

.row:hover {
  background-color: hsla(9,100%,94%,1);
}

.user {
  float: left;
  height: 800px;
}

.table-photo {
  width: 30px;
  height: 800px;
  margin-right: 15px;
  background-image: url(../icons/student-photo.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.row:hover .id {
  opacity: 1;
}

.id {
  opacity: 0.6;
  margin-right: 40px;
  transition: opacity 200ms;
}

.name {
  margin-right: 20px;
}

.id,
.name {
  vertical-align: top;
}

.id,
.table-photo,
.name,
.action-buttons,
.action-button,
.pay-day,
.user {
  display: inline-block;
  height: 80px;
  line-height: 80px;
}

.dashboard .section-title {
  width: 100%;
}

.pay-day {
  float: right;
  padding: 0 30px;
}

.action-buttons {
  vertical-align: top;
  opacity: 0;
  transition: opacity 200ms;
}

.row:hover .action-buttons {
  opacity: 1;
}

.action-button {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  position: relative;
  top: 10px;

  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  background-color: transparent;
}

.action-button:hover {
  transform: scale(1.1);
}

.action-button.charge {
  background-image: url(../icons/gray-charge.svg);
}

.action-button.charge:hover {
  background-image: url(../icons/charge.svg);
}

.action-button.edit {
  background-image: url(../icons/gray-edit.svg);
}

.action-button.edit:hover {
  background-image: url(../icons/edit.svg);
}

.action-button.delete {
  background-image: url(../icons/gray-delete.svg);
}

.action-button.delete:hover {
  background-image: url(../icons/delete.svg);
}